*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: auto;
}

header{
    background-color: aqua;
    margin-top: 70px;
}
main{
    background-color: tomato;
    flex-grow: 3;
}
footer{
    background-color: plum;
    margin-bottom: 24px;
}