*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: auto;
}

header{
    margin-top: 70px;
}

header a{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
}
main{
    flex-grow: 1;
}

.title{
    position: relative;
    grid-column: 1/-1;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__text{
    font-size: 20vw;
    color: #fff;
}
.title__transparent{
    position: absolute;
    top: -50%;
    font-size: 27vw;
    color: #fff5;
    z-index: -1;
}

.description {
    grid-column: 1/7;
    place-self: center start;
    color: var(--secondary-color);
}
.description__title{
    font-size: 4rem;
}
.description__text{
    width: 500px;
    font-size: 1.2rem;
}
.action {
    background-color:aqua;
    grid-column: 7/-1;
}

footer{
    background-color: plum;
    margin-bottom: 24px;
}